/** Buttons
----------------------------------------------------------------------------- */
.btn {
	font-family: $heading_family;
	font-weight: 700;
	text-transform: uppercase;
	&.fullwidth {
		width: 100%;
	}
	&.flat {
		@include btn('flat', $link);
	}
	&.rounded {
		@include btn('rounded', $link, 5px);
	}
	&.border {
		@include btn('border', $link);
		&:hover {
			color: $light_color;
		}
	}
	&.small {
		padding: 15px 20px;
	}
	&.medium {
		padding: 20px 25px;
	}
	&.large {
		padding: 25px 30px;
	}
	&.x-large {
		padding: 30px 35px;
	}
	&.blue-jeans {
		background: $blue-jeans;
		&:hover {
			background: darken($blue-jeans, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $blue-jeans;
			color: $blue-jeans;
			&:hover {
				background: $blue-jeans;
				color: $light_color;
			}
		}
	}
	&.aqua {
		background: $aqua;
		&:hover {
			background: darken($aqua, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $aqua;
			color: $aqua;
			&:hover {
				background: $aqua;
				color: $light_color;
			}
		}
	}
	&.mint {
		background: $mint;
		&:hover {
			background: darken($mint, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $mint;
			color: $mint;
			&:hover {
				background: $mint;
				color: $light_color;
			}
		}
	}
	&.grass {
		background: $grass;
		&:hover {
			background: darken($grass, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $grass;
			color: $grass;
			&:hover {
				background: $grass;
				color: $light_color;
			}
		}
	}
	&.sunflower {
		background: $sunflower;
		&:hover {
			background: darken($sunflower, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $sunflower;
			color: $sunflower;
			&:hover {
				background: $sunflower;
				color: $light_color;
			}
		}
	}
	&.bittersweet {
		background: $bittersweet;
		&:hover {
			background: darken($bittersweet, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $bittersweet;
			color: $bittersweet;
			&:hover {
				background: $bittersweet;
				color: $light_color;
			}
		}
	}
	&.grapefruit {
		background: $grapefruit;
		&:hover {
			background: darken($grapefruit, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $grapefruit;
			color: $grapefruit;
			&:hover {
				background: $grapefruit;
				color: $light_color;
			}
		}
	}
	&.lavender {
		background: $lavender;
		&:hover {
			background: darken($lavender, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $lavender;
			color: $lavender;
			&:hover {
				background: $lavender;
				color: $light_color;
			}
		}
	}
	&.pink-rose {
		background: $pink-rose;
		&:hover {
			background: darken($pink-rose, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $pink-rose;
			color: $lavender;
			&:hover {
				background: $pink-rose;
				color: $light_color;
			}
		}
	}
	&.light-gray {
		background: $light-gray;
		&:hover {
			background: darken($light-gray, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $light-gray;
			color: $light-gray;
			&:hover {
				background: $light-gray;
				color: $light_color;
			}
		}
	}
	&.medium-gray {
		background: $medium-gray;
		&:hover {
			background: darken($medium-gray, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $medium-gray;
			color: $medium-gray;
			&:hover {
				background: $medium-gray;
				color: $light_color;
			}
		}
	}
	&.dark-gray {
		background: $dark-gray;
		&:hover {
			background: darken($dark-gray, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $dark-gray;
			color: $dark-gray;
			&:hover {
				background: $dark-gray;
				color: $light_color;
			}
		}
	}
	&.light {
		background: $light_color;
		color: $link;
		&:hover {
			background: darken($light_color, 10);
		}
		&.border {
			background: rgba(0,0,0,0);
			border-color: $light_color;
			color: $light_color;
			&:hover {
				background: $light_color;
				color: $link;
			}
		}
	}
}
