// Home Page
.entry {
	.home & {
		margin-bottom: 0;
		padding: 0;
	}
}

/** Home Featured
----------------------------------------------------------------------------- */
.home-featured {
	@include rem(18px);
	color: $light_color;
	padding: $col_margin*3 0 $col_margin*7;
	.widgettitle, .widget-title {
		@include rem(48px);
		font-weight: normal;
		color: $light_color;
		text-transform: uppercase;
		.text {
			font-weight: 700;
			color: $link;
		}
	}
	.btn {
		@include rem(24px);
		font-weight: 700;
		padding: 20px 40px;
		line-height: 1;
		border-width: 2px;
	}
}

/** Home Top
----------------------------------------------------------------------------- */
.home-top-1 {
	@include rem(14px);
	color: $light_color;
	text-align: center;
	// background: $light_color;
	&.no-margin {
		padding: $col_margin* 2 0;
	}
	@include mobile {
		padding: $col_margin* 2 0;
	}
	.widget {
		background: $link;
		padding: $col_margin;
		.heading {
			@include rem(24px);
			color: $light_color;
			font-family: $heading_family;
			line-height: 1.2;
			text-transform: uppercase;
			strong {
				color: $light_color;
			}
		}
		p {
			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}
}

.home-top-2 {
	background: $light_color;
	padding: $col_margin*2 0;
	text-align: center;
	.widgettitle, .widget-title {
		@include rem(36px);
		color: $link;
		text-transform: uppercase;
		.text {
			font-weight: normal;
			color: $heading_color;
			display: block;
		}
	}
	p {
		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}
	.btn {
		padding: $col_margin/2 $col_margin;
	}
	img {
		margin-bottom: 0;
	}
}

/** Home Middle 
----------------------------------------------------------------------------- */
.home-middle-1 {
	background: $grey_light;
	padding: $col_margin*2 0;
	text-align: center;
	.widgettitle, .widget-title {
		@include rem(36px);
		color: $link;
		text-transform: uppercase;
		.text {
			font-weight: normal;
			color: $heading_color;
		}
	}
	.list {
		text-align: left;
		display: block;
		&:before {
			@include fa('check-square-o');
			color: $link;
			// margin-right: $col_margin/2;
		}
	}
	p {
		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
		br {
			display: none;
		}
	}
}

.home-middle-2 {
	background: $light_color;
	padding: $col_margin*2 0;
	text-align: center;
	.widgettitle, .widget-title {
		@include rem(36px);
		color: $link;
		text-transform: uppercase;
		.text {
			font-weight: normal;
			color: $heading_color;
			display: block;
		}
	}
	p {
		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}
	.btn {
		padding: $col_margin/2 $col_margin;
	}
	img {
		margin-bottom: 0;
	}
}

/** Home Bottom
----------------------------------------------------------------------------- */
.home-bottom-1 {
	background: $grey_light;
	padding: $col_margin*2 0;
	text-align: center;
	.widgettitle, .widget-title {
		@include rem(36px);
		color: $link;
		text-transform: uppercase;
		.text {
			font-weight: normal;
			color: $heading_color;
			display: block;
		}
	}
	.widget_mb_testimonial {
		.testimonial-container {
			padding: $col_margin/2;
		}
		.testimonial-title {
			text-transform: uppercase;
			color: $link;
		}
		p {
			&:nth-of-type(1) {
				// padding-left: $col_margin*2;
				position: relative;
				&:before {
					@include rem(72px);
					content: '\201C';
					color: $link;
					font-family: $heading_family;
					position: relative;
					line-height: 0;
					top: $col_margin;
					margin-right: $col_margin/2; 
				}
			}
			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
		img {
			@include border-radius(50%);
		}
	}
}

.home-bottom-2 {
	background: $light_color;
	padding: $col_margin 0;
	.widget_mb_image {
		.imgwrap {
			margin-bottom: 0;
		}
		img {
			margin-bottom: 0;
		}
	}
}