/** Posts
----------------------------------------------------------------------------- */
.entry {
	background: $light_color;
	margin-bottom: $col_margin;
	padding: $col_margin;
	// padding-bottom: $col_margin;
	// border-bottom: 1px solid $grey_regular;
	.single &, .page & {
		margin-bottom: $col_margin;
		// padding-bottom: 0;
		border-bottom: 0;
	}
	.archive &, .search &, .blog &, .home & {
		margin-bottom: $col_margin;
		// padding-bottom: $col_margin;
		// border-bottom: 1px solid $grey_regular;
	}
	.imgwrap {
		// @include border-radius(5px);
		display: block;
		margin-bottom: $col_margin;
		overflow: hidden;
	}
	.entry-header {
		margin-bottom: $col_margin;
		.entry-title {
			margin-bottom: 0;
			a {
				color: $heading_color;
				&:hover {
					color: $link;
				}
			}
		}
		.entry-meta {
			color: $secondary_color;
			margin-bottom: 0;
			@include rem(14px);
			& > * {
				margin-right: 10px;
				&:before {
					// padding-right: 5px;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			.entry-time {
				margin-left: 0;
				&:before {
					// @include genericon(time);
				}
			}
			.entry-author {
				&:before {
					// @include genericon(user);
				}
			}
			.entry-comments-link {
				&:before {
					// @include genericon(comment);
				}
			}
			a {
				color: $secondary_color;
				&:hover {
					color: $link;
				}
			}
		}
	}
	.entry-content {
		// margin-bottom: $col_margin;
		.more-link {
			display: inline-block;
		}
	}
	.entry-footer {
		color: $secondary_color;
		@include rem(14px);
		.entry-meta {
			margin-bottom: 0;
			span {
				display: block;
			}
			a {
				color: $link;
				&:hover {
					color: $link_hover;
				}
			}
		}
	}
}

/** Comments **/
.entry-comments {
	h3 {
		margin-bottom: $col_margin;
	}
	margin-bottom: $col_margin;
	.comment-list {
		list-style: none;
		margin: 0;
		padding: 0;
		article {
			margin-bottom: $col_margin;
		}
		.comment-header {
			margin-bottom: $col_margin;
			p {
				margin-bottom: 0;
				&.comment-author {
					font-family: $heading_family;
					img {
						@include css3(border-radius,50%);
						float: left;
						margin-right: $col_margin;
					}
					span {
						text-transform: uppercase;
						&.says {
							// display: none;
							font-family: $body_family;
							text-transform: none;
						}
					}
					a {
						color: $link;
						&:hover {
							color: $body_color;
						}
					}
				}
				&.comment-meta {
					@include rem(14px);
					a {
						// color: $secondary_color;
						color: $link;
						&:hover {
							// color: $link;
							color: $body_color;
						}
					}
				}
			}
		}
		.comment-content {

		}
		.comment-reply {
			.comment-reply-link {
				// @include btn();
				&:before {
					// @include genericon(reply);
					// padding-right: 5px;
				}
			}
		}
		.children {
			list-style: none;
			margin-left: $col_margin;
		}
	}
}

/** Comment Forms **/
.comment-respond {
	form {
		p {
			margin-bottom: ($col_margin/2);
		}
		input[type="text"], input[type="email"], input[type="url"], textarea {
			&:not(textarea) {
				width: 50%;
				@include mobile {
					width: 100%;
				}
			}
			border-color: darken($grey_light, 10);
		}
	}
}

/** Pingbacks **/
.entry-pings {
	.ping-list {
		list-style: none;
		margin: 0;
		padding: 0;
		.pingback {
			margin-bottom: $col_margin;
			.comment-meta {
				margin-bottom: $col_margin;
			}
			.reply {
				.comment-reply-link {
					// @include btn();
					&:before {
						// @include genericon(reply);
						padding-right: $col_margin/2;
					}
				}
			}
		}
		.children {
			list-style: none;
			margin-left: $col_margin;
		}
	}
	.comment-metadata {
		@include rem(14px);
		a {
			color: $secondary_color;
			&:hover {
				color: $link;
			}
		}
	}
}
