@charset "UTF-8";
/*!
    Theme Name: Autocare
    Description: Autocare is a child theme created for the Genesis Framework.
    Author: SuperFastBusiness
    Author URI: http://www.superfastbusiness.com/
    Version: 1.0.2
    Tags: responsive-layout, white, blue, one-column, two-columns, three-columns, fixed-width, theme-options
    Template: genesis
    Template Version: 2.0
    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
    Bitbucket Theme URI: https://bitbucket.org/webdevsuperfast/autocare
*/
/* total with of page */
/* number of columns */
/* @function em($px, $base: $base-font-size) { @return ($px / $base) * 1em;
} */
.search-form input[type="submit"] { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; padding: 0; position: absolute; width: 1px; }

/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH -------------------------- */
@font-face { font-family: 'FontAwesome'; src: url("assets/fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0"); src: url("assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("assets/fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("assets/fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("assets/fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("assets/fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }
.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
.fa-lg { font-size: 1.33333em; line-height: 0.75em; vertical-align: -15%; }

.fa-2x { font-size: 2em; }

.fa-3x { font-size: 3em; }

.fa-4x { font-size: 4em; }

.fa-5x { font-size: 5em; }

.fa-fw { width: 1.28571em; text-align: center; }

.fa-ul { padding-left: 0; margin-left: 2.14286em; list-style-type: none; }
.fa-ul > li { position: relative; }

.fa-li { position: absolute; left: -2.14286em; width: 2.14286em; top: 0.14286em; text-align: center; }
.fa-li.fa-lg { left: -1.85714em; }

.fa-border { padding: .2em .25em .15em; border: solid 0.08em #eee; border-radius: .1em; }

.pull-right { float: right; }

.pull-left { float: left; }

.fa.pull-left { margin-right: .3em; }
.fa.pull-right { margin-left: .3em; }

.fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }

.fa-pulse { -webkit-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
@keyframes fa-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
.fa-rotate-90 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.fa-rotate-180 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.fa-rotate-270 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

.fa-flip-horizontal { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); }

.fa-flip-vertical { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: scale(1, -1); -ms-transform: scale(1, -1); transform: scale(1, -1); }

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical { -webkit-filter: none; filter: none; }

.fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

.fa-stack-1x { line-height: inherit; }

.fa-stack-2x { font-size: 2em; }

.fa-inverse { color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
.fa-glass:before { content: ""; }

.fa-music:before { content: ""; }

.fa-search:before { content: ""; }

.fa-envelope-o:before { content: ""; }

.fa-heart:before { content: ""; }

.fa-star:before { content: ""; }

.fa-star-o:before { content: ""; }

.fa-user:before { content: ""; }

.fa-film:before { content: ""; }

.fa-th-large:before { content: ""; }

.fa-th:before { content: ""; }

.fa-th-list:before { content: ""; }

.fa-check:before { content: ""; }

.fa-remove:before, .fa-close:before, button.menu-toggle.activated:before, .fa-times:before { content: ""; }

.fa-search-plus:before { content: ""; }

.fa-search-minus:before { content: ""; }

.fa-power-off:before { content: ""; }

.fa-signal:before { content: ""; }

.fa-gear:before, .fa-cog:before { content: ""; }

.fa-trash-o:before { content: ""; }

.fa-home:before { content: ""; }

.fa-file-o:before { content: ""; }

.fa-clock-o:before { content: ""; }

.fa-road:before { content: ""; }

.fa-download:before { content: ""; }

.fa-arrow-circle-o-down:before { content: ""; }

.fa-arrow-circle-o-up:before { content: ""; }

.fa-inbox:before { content: ""; }

.fa-play-circle-o:before { content: ""; }

.fa-rotate-right:before, .fa-repeat:before { content: ""; }

.fa-refresh:before { content: ""; }

.fa-list-alt:before { content: ""; }

.fa-lock:before { content: ""; }

.fa-flag:before { content: ""; }

.fa-headphones:before { content: ""; }

.fa-volume-off:before { content: ""; }

.fa-volume-down:before { content: ""; }

.fa-volume-up:before { content: ""; }

.fa-qrcode:before { content: ""; }

.fa-barcode:before { content: ""; }

.fa-tag:before { content: ""; }

.fa-tags:before { content: ""; }

.fa-book:before { content: ""; }

.fa-bookmark:before { content: ""; }

.fa-print:before { content: ""; }

.fa-camera:before { content: ""; }

.fa-font:before { content: ""; }

.fa-bold:before { content: ""; }

.fa-italic:before { content: ""; }

.fa-text-height:before { content: ""; }

.fa-text-width:before { content: ""; }

.fa-align-left:before { content: ""; }

.fa-align-center:before { content: ""; }

.fa-align-right:before { content: ""; }

.fa-align-justify:before { content: ""; }

.fa-list:before { content: ""; }

.fa-dedent:before, .fa-outdent:before { content: ""; }

.fa-indent:before { content: ""; }

.fa-video-camera:before { content: ""; }

.fa-photo:before, .fa-image:before, .fa-picture-o:before { content: ""; }

.fa-pencil:before { content: ""; }

.fa-map-marker:before, .text.address:before { content: ""; }

.fa-adjust:before { content: ""; }

.fa-tint:before { content: ""; }

.fa-edit:before, .fa-pencil-square-o:before { content: ""; }

.fa-share-square-o:before { content: ""; }

.fa-check-square-o:before, .home-middle-1 .list:before { content: ""; }

.fa-arrows:before { content: ""; }

.fa-step-backward:before { content: ""; }

.fa-fast-backward:before { content: ""; }

.fa-backward:before { content: ""; }

.fa-play:before { content: ""; }

.fa-pause:before { content: ""; }

.fa-stop:before { content: ""; }

.fa-forward:before { content: ""; }

.fa-fast-forward:before { content: ""; }

.fa-step-forward:before { content: ""; }

.fa-eject:before { content: ""; }

.fa-chevron-left:before, .widget_mb_testimonial .owl-buttons div.owl-prev:before { content: ""; }

.fa-chevron-right:before, .widget_mb_testimonial .owl-buttons div.owl-next:before { content: ""; }

.fa-plus-circle:before { content: ""; }

.fa-minus-circle:before { content: ""; }

.fa-times-circle:before { content: ""; }

.fa-check-circle:before { content: ""; }

.fa-question-circle:before { content: ""; }

.fa-info-circle:before { content: ""; }

.fa-crosshairs:before { content: ""; }

.fa-times-circle-o:before { content: ""; }

.fa-check-circle-o:before { content: ""; }

.fa-ban:before { content: ""; }

.fa-arrow-left:before { content: ""; }

.fa-arrow-right:before { content: ""; }

.fa-arrow-up:before { content: ""; }

.fa-arrow-down:before { content: ""; }

.fa-mail-forward:before, .fa-share:before { content: ""; }

.fa-expand:before { content: ""; }

.fa-compress:before { content: ""; }

.fa-plus:before { content: ""; }

.fa-minus:before { content: ""; }

.fa-asterisk:before { content: ""; }

.fa-exclamation-circle:before { content: ""; }

.fa-gift:before { content: ""; }

.fa-leaf:before { content: ""; }

.fa-fire:before { content: ""; }

.fa-eye:before { content: ""; }

.fa-eye-slash:before { content: ""; }

.fa-warning:before, .fa-exclamation-triangle:before { content: ""; }

.fa-plane:before { content: ""; }

.fa-calendar:before { content: ""; }

.fa-random:before { content: ""; }

.fa-comment:before { content: ""; }

.fa-magnet:before { content: ""; }

.fa-chevron-up:before { content: ""; }

.fa-chevron-down:before { content: ""; }

.fa-retweet:before { content: ""; }

.fa-shopping-cart:before { content: ""; }

.fa-folder:before { content: ""; }

.fa-folder-open:before { content: ""; }

.fa-arrows-v:before { content: ""; }

.fa-arrows-h:before { content: ""; }

.fa-bar-chart-o:before, .fa-bar-chart:before { content: ""; }

.fa-twitter-square:before { content: ""; }

.fa-facebook-square:before { content: ""; }

.fa-camera-retro:before { content: ""; }

.fa-key:before { content: ""; }

.fa-gears:before, .fa-cogs:before { content: ""; }

.fa-comments:before { content: ""; }

.fa-thumbs-o-up:before { content: ""; }

.fa-thumbs-o-down:before { content: ""; }

.fa-star-half:before { content: ""; }

.fa-heart-o:before { content: ""; }

.fa-sign-out:before { content: ""; }

.fa-linkedin-square:before { content: ""; }

.fa-thumb-tack:before { content: ""; }

.fa-external-link:before { content: ""; }

.fa-sign-in:before { content: ""; }

.fa-trophy:before { content: ""; }

.fa-github-square:before { content: ""; }

.fa-upload:before { content: ""; }

.fa-lemon-o:before { content: ""; }

.fa-phone:before, .phone:before, .text.phone:before { content: ""; }

.fa-square-o:before { content: ""; }

.fa-bookmark-o:before { content: ""; }

.fa-phone-square:before { content: ""; }

.fa-twitter:before { content: ""; }

.fa-facebook-f:before, .fa-facebook:before { content: ""; }

.fa-github:before { content: ""; }

.fa-unlock:before { content: ""; }

.fa-credit-card:before { content: ""; }

.fa-rss:before { content: ""; }

.fa-hdd-o:before { content: ""; }

.fa-bullhorn:before { content: ""; }

.fa-bell:before { content: ""; }

.fa-certificate:before { content: ""; }

.fa-hand-o-right:before { content: ""; }

.fa-hand-o-left:before { content: ""; }

.fa-hand-o-up:before { content: ""; }

.fa-hand-o-down:before { content: ""; }

.fa-arrow-circle-left:before { content: ""; }

.fa-arrow-circle-right:before { content: ""; }

.fa-arrow-circle-up:before { content: ""; }

.fa-arrow-circle-down:before { content: ""; }

.fa-globe:before { content: ""; }

.fa-wrench:before { content: ""; }

.fa-tasks:before { content: ""; }

.fa-filter:before { content: ""; }

.fa-briefcase:before { content: ""; }

.fa-arrows-alt:before { content: ""; }

.fa-group:before, .fa-users:before { content: ""; }

.fa-chain:before, .fa-link:before { content: ""; }

.fa-cloud:before { content: ""; }

.fa-flask:before { content: ""; }

.fa-cut:before, .fa-scissors:before { content: ""; }

.fa-copy:before, .fa-files-o:before { content: ""; }

.fa-paperclip:before { content: ""; }

.fa-save:before, .fa-floppy-o:before { content: ""; }

.fa-square:before { content: ""; }

.fa-navicon:before, .fa-reorder:before, .fa-bars:before, button.menu-toggle:before { content: ""; }

.fa-list-ul:before { content: ""; }

.fa-list-ol:before { content: ""; }

.fa-strikethrough:before { content: ""; }

.fa-underline:before { content: ""; }

.fa-table:before { content: ""; }

.fa-magic:before { content: ""; }

.fa-truck:before { content: ""; }

.fa-pinterest:before { content: ""; }

.fa-pinterest-square:before { content: ""; }

.fa-google-plus-square:before { content: ""; }

.fa-google-plus:before { content: ""; }

.fa-money:before { content: ""; }

.fa-caret-down:before { content: ""; }

.fa-caret-up:before { content: ""; }

.fa-caret-left:before { content: ""; }

.fa-caret-right:before { content: ""; }

.fa-columns:before { content: ""; }

.fa-unsorted:before, .fa-sort:before { content: ""; }

.fa-sort-down:before, .fa-sort-desc:before { content: ""; }

.fa-sort-up:before, .fa-sort-asc:before { content: ""; }

.fa-envelope:before, .text.email:before { content: ""; }

.fa-linkedin:before { content: ""; }

.fa-rotate-left:before, .fa-undo:before { content: ""; }

.fa-legal:before, .fa-gavel:before { content: ""; }

.fa-dashboard:before, .fa-tachometer:before { content: ""; }

.fa-comment-o:before { content: ""; }

.fa-comments-o:before { content: ""; }

.fa-flash:before, .fa-bolt:before { content: ""; }

.fa-sitemap:before { content: ""; }

.fa-umbrella:before { content: ""; }

.fa-paste:before, .fa-clipboard:before { content: ""; }

.fa-lightbulb-o:before { content: ""; }

.fa-exchange:before { content: ""; }

.fa-cloud-download:before { content: ""; }

.fa-cloud-upload:before { content: ""; }

.fa-user-md:before { content: ""; }

.fa-stethoscope:before { content: ""; }

.fa-suitcase:before { content: ""; }

.fa-bell-o:before { content: ""; }

.fa-coffee:before { content: ""; }

.fa-cutlery:before { content: ""; }

.fa-file-text-o:before { content: ""; }

.fa-building-o:before { content: ""; }

.fa-hospital-o:before { content: ""; }

.fa-ambulance:before { content: ""; }

.fa-medkit:before { content: ""; }

.fa-fighter-jet:before { content: ""; }

.fa-beer:before { content: ""; }

.fa-h-square:before { content: ""; }

.fa-plus-square:before { content: ""; }

.fa-angle-double-left:before { content: ""; }

.fa-angle-double-right:before { content: ""; }

.fa-angle-double-up:before { content: ""; }

.fa-angle-double-down:before { content: ""; }

.fa-angle-left:before { content: ""; }

.fa-angle-right:before { content: ""; }

.fa-angle-up:before, button.sub-menu-toggle.activated:before { content: ""; }

.fa-angle-down:before, button.sub-menu-toggle:before { content: ""; }

.fa-desktop:before { content: ""; }

.fa-laptop:before { content: ""; }

.fa-tablet:before { content: ""; }

.fa-mobile-phone:before, .fa-mobile:before { content: ""; }

.fa-circle-o:before { content: ""; }

.fa-quote-left:before, blockquote p:first-of-type:before { content: ""; }

.fa-quote-right:before { content: ""; }

.fa-spinner:before { content: ""; }

.fa-circle:before { content: ""; }

.fa-mail-reply:before, .fa-reply:before { content: ""; }

.fa-github-alt:before { content: ""; }

.fa-folder-o:before { content: ""; }

.fa-folder-open-o:before { content: ""; }

.fa-smile-o:before { content: ""; }

.fa-frown-o:before { content: ""; }

.fa-meh-o:before { content: ""; }

.fa-gamepad:before { content: ""; }

.fa-keyboard-o:before { content: ""; }

.fa-flag-o:before { content: ""; }

.fa-flag-checkered:before { content: ""; }

.fa-terminal:before { content: ""; }

.fa-code:before { content: ""; }

.fa-mail-reply-all:before, .fa-reply-all:before { content: ""; }

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before { content: ""; }

.fa-location-arrow:before { content: ""; }

.fa-crop:before { content: ""; }

.fa-code-fork:before { content: ""; }

.fa-unlink:before, .fa-chain-broken:before { content: ""; }

.fa-question:before { content: ""; }

.fa-info:before { content: ""; }

.fa-exclamation:before { content: ""; }

.fa-superscript:before { content: ""; }

.fa-subscript:before { content: ""; }

.fa-eraser:before { content: ""; }

.fa-puzzle-piece:before { content: ""; }

.fa-microphone:before { content: ""; }

.fa-microphone-slash:before { content: ""; }

.fa-shield:before { content: ""; }

.fa-calendar-o:before { content: ""; }

.fa-fire-extinguisher:before { content: ""; }

.fa-rocket:before { content: ""; }

.fa-maxcdn:before { content: ""; }

.fa-chevron-circle-left:before { content: ""; }

.fa-chevron-circle-right:before { content: ""; }

.fa-chevron-circle-up:before { content: ""; }

.fa-chevron-circle-down:before { content: ""; }

.fa-html5:before { content: ""; }

.fa-css3:before { content: ""; }

.fa-anchor:before { content: ""; }

.fa-unlock-alt:before { content: ""; }

.fa-bullseye:before { content: ""; }

.fa-ellipsis-h:before { content: ""; }

.fa-ellipsis-v:before { content: ""; }

.fa-rss-square:before { content: ""; }

.fa-play-circle:before { content: ""; }

.fa-ticket:before { content: ""; }

.fa-minus-square:before { content: ""; }

.fa-minus-square-o:before { content: ""; }

.fa-level-up:before { content: ""; }

.fa-level-down:before { content: ""; }

.fa-check-square:before { content: ""; }

.fa-pencil-square:before { content: ""; }

.fa-external-link-square:before { content: ""; }

.fa-share-square:before { content: ""; }

.fa-compass:before { content: ""; }

.fa-toggle-down:before, .fa-caret-square-o-down:before { content: ""; }

.fa-toggle-up:before, .fa-caret-square-o-up:before { content: ""; }

.fa-toggle-right:before, .fa-caret-square-o-right:before { content: ""; }

.fa-euro:before, .fa-eur:before { content: ""; }

.fa-gbp:before { content: ""; }

.fa-dollar:before, .fa-usd:before { content: ""; }

.fa-rupee:before, .fa-inr:before { content: ""; }

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before { content: ""; }

.fa-ruble:before, .fa-rouble:before, .fa-rub:before { content: ""; }

.fa-won:before, .fa-krw:before { content: ""; }

.fa-bitcoin:before, .fa-btc:before { content: ""; }

.fa-file:before { content: ""; }

.fa-file-text:before { content: ""; }

.fa-sort-alpha-asc:before { content: ""; }

.fa-sort-alpha-desc:before { content: ""; }

.fa-sort-amount-asc:before { content: ""; }

.fa-sort-amount-desc:before { content: ""; }

.fa-sort-numeric-asc:before { content: ""; }

.fa-sort-numeric-desc:before { content: ""; }

.fa-thumbs-up:before { content: ""; }

.fa-thumbs-down:before { content: ""; }

.fa-youtube-square:before { content: ""; }

.fa-youtube:before { content: ""; }

.fa-xing:before { content: ""; }

.fa-xing-square:before { content: ""; }

.fa-youtube-play:before { content: ""; }

.fa-dropbox:before { content: ""; }

.fa-stack-overflow:before { content: ""; }

.fa-instagram:before { content: ""; }

.fa-flickr:before { content: ""; }

.fa-adn:before { content: ""; }

.fa-bitbucket:before { content: ""; }

.fa-bitbucket-square:before { content: ""; }

.fa-tumblr:before { content: ""; }

.fa-tumblr-square:before { content: ""; }

.fa-long-arrow-down:before { content: ""; }

.fa-long-arrow-up:before { content: ""; }

.fa-long-arrow-left:before { content: ""; }

.fa-long-arrow-right:before { content: ""; }

.fa-apple:before { content: ""; }

.fa-windows:before { content: ""; }

.fa-android:before { content: ""; }

.fa-linux:before { content: ""; }

.fa-dribbble:before { content: ""; }

.fa-skype:before { content: ""; }

.fa-foursquare:before { content: ""; }

.fa-trello:before { content: ""; }

.fa-female:before { content: ""; }

.fa-male:before { content: ""; }

.fa-gittip:before, .fa-gratipay:before { content: ""; }

.fa-sun-o:before { content: ""; }

.fa-moon-o:before { content: ""; }

.fa-archive:before { content: ""; }

.fa-bug:before { content: ""; }

.fa-vk:before { content: ""; }

.fa-weibo:before { content: ""; }

.fa-renren:before { content: ""; }

.fa-pagelines:before { content: ""; }

.fa-stack-exchange:before { content: ""; }

.fa-arrow-circle-o-right:before { content: ""; }

.fa-arrow-circle-o-left:before { content: ""; }

.fa-toggle-left:before, .fa-caret-square-o-left:before { content: ""; }

.fa-dot-circle-o:before { content: ""; }

.fa-wheelchair:before { content: ""; }

.fa-vimeo-square:before { content: ""; }

.fa-turkish-lira:before, .fa-try:before { content: ""; }

.fa-plus-square-o:before { content: ""; }

.fa-space-shuttle:before { content: ""; }

.fa-slack:before { content: ""; }

.fa-envelope-square:before { content: ""; }

.fa-wordpress:before { content: ""; }

.fa-openid:before { content: ""; }

.fa-institution:before, .fa-bank:before, .fa-university:before { content: ""; }

.fa-mortar-board:before, .fa-graduation-cap:before { content: ""; }

.fa-yahoo:before { content: ""; }

.fa-google:before { content: ""; }

.fa-reddit:before { content: ""; }

.fa-reddit-square:before { content: ""; }

.fa-stumbleupon-circle:before { content: ""; }

.fa-stumbleupon:before { content: ""; }

.fa-delicious:before { content: ""; }

.fa-digg:before { content: ""; }

.fa-pied-piper:before { content: ""; }

.fa-pied-piper-alt:before { content: ""; }

.fa-drupal:before { content: ""; }

.fa-joomla:before { content: ""; }

.fa-language:before { content: ""; }

.fa-fax:before { content: ""; }

.fa-building:before { content: ""; }

.fa-child:before { content: ""; }

.fa-paw:before { content: ""; }

.fa-spoon:before { content: ""; }

.fa-cube:before { content: ""; }

.fa-cubes:before { content: ""; }

.fa-behance:before { content: ""; }

.fa-behance-square:before { content: ""; }

.fa-steam:before { content: ""; }

.fa-steam-square:before { content: ""; }

.fa-recycle:before { content: ""; }

.fa-automobile:before, .fa-car:before { content: ""; }

.fa-cab:before, .fa-taxi:before { content: ""; }

.fa-tree:before { content: ""; }

.fa-spotify:before { content: ""; }

.fa-deviantart:before { content: ""; }

.fa-soundcloud:before { content: ""; }

.fa-database:before { content: ""; }

.fa-file-pdf-o:before { content: ""; }

.fa-file-word-o:before { content: ""; }

.fa-file-excel-o:before { content: ""; }

.fa-file-powerpoint-o:before { content: ""; }

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before { content: ""; }

.fa-file-zip-o:before, .fa-file-archive-o:before { content: ""; }

.fa-file-sound-o:before, .fa-file-audio-o:before { content: ""; }

.fa-file-movie-o:before, .fa-file-video-o:before { content: ""; }

.fa-file-code-o:before { content: ""; }

.fa-vine:before { content: ""; }

.fa-codepen:before { content: ""; }

.fa-jsfiddle:before { content: ""; }

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before { content: ""; }

.fa-circle-o-notch:before { content: ""; }

.fa-ra:before, .fa-rebel:before { content: ""; }

.fa-ge:before, .fa-empire:before { content: ""; }

.fa-git-square:before { content: ""; }

.fa-git:before { content: ""; }

.fa-hacker-news:before { content: ""; }

.fa-tencent-weibo:before { content: ""; }

.fa-qq:before { content: ""; }

.fa-wechat:before, .fa-weixin:before { content: ""; }

.fa-send:before, .fa-paper-plane:before { content: ""; }

.fa-send-o:before, .fa-paper-plane-o:before { content: ""; }

.fa-history:before { content: ""; }

.fa-genderless:before, .fa-circle-thin:before { content: ""; }

.fa-header:before { content: ""; }

.fa-paragraph:before { content: ""; }

.fa-sliders:before { content: ""; }

.fa-share-alt:before { content: ""; }

.fa-share-alt-square:before { content: ""; }

.fa-bomb:before { content: ""; }

.fa-soccer-ball-o:before, .fa-futbol-o:before { content: ""; }

.fa-tty:before { content: ""; }

.fa-binoculars:before { content: ""; }

.fa-plug:before { content: ""; }

.fa-slideshare:before { content: ""; }

.fa-twitch:before { content: ""; }

.fa-yelp:before { content: ""; }

.fa-newspaper-o:before { content: ""; }

.fa-wifi:before { content: ""; }

.fa-calculator:before { content: ""; }

.fa-paypal:before { content: ""; }

.fa-google-wallet:before { content: ""; }

.fa-cc-visa:before { content: ""; }

.fa-cc-mastercard:before { content: ""; }

.fa-cc-discover:before { content: ""; }

.fa-cc-amex:before { content: ""; }

.fa-cc-paypal:before { content: ""; }

.fa-cc-stripe:before { content: ""; }

.fa-bell-slash:before { content: ""; }

.fa-bell-slash-o:before { content: ""; }

.fa-trash:before { content: ""; }

.fa-copyright:before { content: ""; }

.fa-at:before { content: ""; }

.fa-eyedropper:before { content: ""; }

.fa-paint-brush:before { content: ""; }

.fa-birthday-cake:before { content: ""; }

.fa-area-chart:before { content: ""; }

.fa-pie-chart:before { content: ""; }

.fa-line-chart:before { content: ""; }

.fa-lastfm:before { content: ""; }

.fa-lastfm-square:before { content: ""; }

.fa-toggle-off:before { content: ""; }

.fa-toggle-on:before { content: ""; }

.fa-bicycle:before { content: ""; }

.fa-bus:before { content: ""; }

.fa-ioxhost:before { content: ""; }

.fa-angellist:before { content: ""; }

.fa-cc:before { content: ""; }

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before { content: ""; }

.fa-meanpath:before { content: ""; }

.fa-buysellads:before { content: ""; }

.fa-connectdevelop:before { content: ""; }

.fa-dashcube:before { content: ""; }

.fa-forumbee:before { content: ""; }

.fa-leanpub:before { content: ""; }

.fa-sellsy:before { content: ""; }

.fa-shirtsinbulk:before { content: ""; }

.fa-simplybuilt:before { content: ""; }

.fa-skyatlas:before { content: ""; }

.fa-cart-plus:before { content: ""; }

.fa-cart-arrow-down:before { content: ""; }

.fa-diamond:before { content: ""; }

.fa-ship:before { content: ""; }

.fa-user-secret:before { content: ""; }

.fa-motorcycle:before { content: ""; }

.fa-street-view:before { content: ""; }

.fa-heartbeat:before { content: ""; }

.fa-venus:before { content: ""; }

.fa-mars:before { content: ""; }

.fa-mercury:before { content: ""; }

.fa-transgender:before { content: ""; }

.fa-transgender-alt:before { content: ""; }

.fa-venus-double:before { content: ""; }

.fa-mars-double:before { content: ""; }

.fa-venus-mars:before { content: ""; }

.fa-mars-stroke:before { content: ""; }

.fa-mars-stroke-v:before { content: ""; }

.fa-mars-stroke-h:before { content: ""; }

.fa-neuter:before { content: ""; }

.fa-facebook-official:before { content: ""; }

.fa-pinterest-p:before { content: ""; }

.fa-whatsapp:before { content: ""; }

.fa-server:before { content: ""; }

.fa-user-plus:before { content: ""; }

.fa-user-times:before { content: ""; }

.fa-hotel:before, .fa-bed:before { content: ""; }

.fa-viacoin:before { content: ""; }

.fa-train:before { content: ""; }

.fa-subway:before { content: ""; }

.fa-medium:before { content: ""; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/** Clearing Floats
----------------------------------------------------------------------------- */
.archive-pagination, .clearfix, .entry-pagination, .footer-widgets, .nav-primary, .nav-secondary, .site-container, .site-footer, .site-header, .site-inner, .wrap { *zoom: 1; }
.archive-pagination:before, .archive-pagination:after, .clearfix:before, .clearfix:after, .entry-pagination:before, .entry-pagination:after, .footer-widgets:before, .footer-widgets:after, .nav-primary:before, .nav-primary:after, .nav-secondary:before, .nav-secondary:after, .site-container:before, .site-container:after, .site-footer:before, .site-footer:after, .site-header:before, .site-header:after, .site-inner:before, .site-inner:after, .wrap:before, .wrap:after { content: ""; display: table; }
.archive-pagination:after, .clearfix:after, .entry-pagination:after, .footer-widgets:after, .nav-primary:after, .nav-secondary:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .wrap:after { clear: both; }

/** Box Sizing
----------------------------------------------------------------------------- */
*, *:before, *:after, input[type="search"] { box-sizing: inherit; }

html { box-sizing: border-box; }

/** Base Defaults
----------------------------------------------------------------------------- */
html { font-size: 62.5%; }

html, body.pushy-active { overflow-x: hidden; height: 100%; }

::-moz-selection { background: #dc3519; color: #fff; text-shadow: none; }

::selection { background: #dc3519; color: #fff; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #CCD1D9; margin: 1em 0; padding: 0; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

/** Typography
----------------------------------------------------------------------------- */
body { background-color: #F5F7FA; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #434A54; font-family: "Source Sans Pro", sans-serif; font-weight: normal; font-size: 16px; font-size: 1.6rem; line-height: 1.625; overflow-x: hidden; visibility: hidden; }

h1, h2, h3, h4, h5, h6 { color: #434A54; font-family: "Ubuntu", sans-serif; font-weight: 700; line-height: 1.2; margin-top: 0; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-family: inherit; }

h1 { font-size: 36px; font-size: 3.6rem; }

h2 { font-size: 30px; font-size: 3rem; }

h3 { font-size: 24px; font-size: 2.4rem; }

h4 { font-size: 20px; font-size: 2rem; }

h5, h6 { font-size: 18px; font-size: 1.8rem; }

p { margin-top: 0; margin-bottom: 30px; }
p a { font-family: inherit; }
p img { margin: 0; }
p.empty { line-height: 0; margin: 0; padding: 0; }

blockquote, cite, em, i { font-style: italic; }

b, strong { font-weight: 700; color: #434A54; }

small { font-size: 12px; font-size: 1.2rem; line-height: 1.2; }

/*  Blockquotes
----------------------------------------------------------------------------- */
blockquote { *zoom: 1; background: #F5F7FA; font-style: normal; border-left: 5px solid #CCD1D9; margin: 0; margin-bottom: 30px; overflow: hidden; padding: 30px 30px 30px 60px; }
blockquote:before, blockquote:after { content: ""; display: table; }
blockquote:after { clear: both; }
blockquote p { margin-bottom: 0; position: relative; }
blockquote p:first-of-type:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); font-size: 24px; font-size: 2.4rem; position: absolute; left: -30px; top: 0; }
blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; }
blockquote cite:before { content: "\2014 \0020"; }

/** Links
----------------------------------------------------------------------------- */
a { -webkit-transition: all 200ms linear; transition: all 200ms linear; color: #e9573f; text-decoration: none; outline: none; }
a:hover, a:focus { color: #434A54; }

/* Lists
----------------------------------------------------------------------------- */
ul { list-style: disc; }

ol { list-style: decimal; }

ol, ul { padding-left: 0; margin-top: 0; margin-left: 30px; margin-bottom: 30px; }
ol li, ul li { margin-bottom: 0; }

ul ul, ul ol, ol ol, ol ul { margin-top: 15px; margin-right: 0; margin-bottom: 15px; margin-left: 30px; }

/* Tables
----------------------------------------------------------------------------- */
table { width: 100%; border: none; margin-bottom: 30px; }

thead tr { background: #434A54; color: #fff; }
thead tr td { padding: 5px; text-align: left; }
thead tr th { padding: 5px; }

tbody tr th { padding: 5px; }
tbody tr th, tbody tr td { padding: 5px; text-align: left; }
tbody tr:nth-child(odd) { background: #fff; }
tbody tr:nth-child(even) { background: #F5F7FA; }

tfoot tr { background: #434A54; color: #fff; }
tfoot tr td { padding: 5px; text-align: left; }

/** Definition Lists
----------------------------------------------------------------------------- */
dl dt { font-family: "Ubuntu", sans-serif; font-weight: bold; text-decoration: underline; }
dl dd { margin: 0; padding: 0 0 30px 0; }

/** Preformatted Tags
----------------------------------------------------------------------------- */
code, samp, kbd, pre, tt { color: #434A54; font-family: "Courier New", Courier, monospace, sans-serif; text-align: left; }

pre { border-left: 15px solid #CCD1D9; font-size: 12px; font-size: 1.2rem; margin: 15px 0 15px 30px; overflow: auto; padding: 15px; }
pre code { font-size: 12px; font-size: 1.2rem; line-height: 1; }

/* target IE7 and IE6 */
*:first-child + html pre { overflow-y: hidden; overflow: visible; overflow-x: auto; padding-bottom: 24px; }
* html pre { padding-bottom: 30px; overflow: visible; overflow-x: auto; }

/** Other Tags
----------------------------------------------------------------------------- */
cite:before { content: '\2014'; margin-right: 5px; }

sup { font-size: xx-small; vertical-align: top; }

sub { font-size: xx-small; vertical-align: bottom; }

/** Images, Objects
----------------------------------------------------------------------------- */
embed, iframe, img, object, video, .wp-caption { max-width: 100%; }

img { display: block; height: auto; max-width: 100%; image-rendering: optimizeSpeed; }
.featured-content img, .gallery img { width: auto; }

a.imgwrap { border: none; background: none; }
a.imgwrap:hover { border: none; background: none; }

/** Buttons
----------------------------------------------------------------------------- */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { -webkit-transition: all 200ms linear; transition: all 200ms linear; color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; border: 0; color: #fff; font-family: "Ubuntu", sans-serif; font-size: 16px; font-size: 1.6rem; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background: #5a6370; }
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { background: #707c8d; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background: #e9573f; cursor: pointer; }
.button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { outline: none; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Forms
----------------------------------------------------------------------------- */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select { border-radius: 0px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ font-size: 14px; font-size: 1.4rem; height: 38px; padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */ background-color: #F5F7FA; border: 1px solid #CCD1D9; box-shadow: none; box-sizing: border-box; font-family: "Source Sans Pro", sans-serif; width: 100%; }
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border-color: #CCD1D9; outline: 0; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[type="button"], input[type="submit"], input[type="reset"], button, textarea { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

textarea { min-height: 100px; padding-top: 6px; padding-bottom: 6px; }

label, legend { font-family: "Ubuntu", sans-serif; display: block; margin-bottom: 5px; }

fieldset { padding: 0; border-width: 0; }

input[type="checkbox"], input[type="radio"] { display: inline; }

/** WordPress Stylesheet
----------------------------------------------------------------------------- */
/** WYSIWYG Editor Styles */
.alignleft { float: left; margin: 0 30px 30px 0; }

.aligncenter { display: block; margin: 0 auto 30px auto; }

.alignright { float: right; margin: 0 0 30px 30px; }

.alignnone { float: none; display: block; margin: 0 0 30px 0; }

.size-full { width: 100%; height: auto; margin: 0 0 30px 0; }

.wp-caption { max-width: 100%; text-align: center; padding: 10px; border: 1px solid #CCD1D9; background: #F5F7FA; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; margin-bottom: 10px; }
.wp-caption .wp-caption-text { font-size: 14px; font-size: 1.4rem; margin-bottom: 0; }

.wp-smiley { margin: 0 !important; max-height: 16px; }

/** Blockquotes */
blockquote.left { margin-right: 30px; text-align: right; margin-left: 0; width: 33%; float: left; }
blockquote.right { margin-left: 30px; text-align: left; margin-right: 0; width: 33%; float: right; }

/** Gallery */
.gallery { overflow: hidden; }
.gallery img { border: none !important; }
.gallery .gallery-caption { font-size: 14px; font-size: 1.4rem; line-height: 1.2; }

/** Layout
----------------------------------------------------------------------------- */
/** Site Container */
.site-container { max-width: 100%; overflow-x: hidden; }
.boxed .site-container { max-width: 1170px; }
@media (max-width: 1280px) { .boxed .site-container { max-width: 970px; } }
@media (max-width: 970px) { .boxed .site-container { max-width: 750px; } }
@media (max-width: 780px) { .boxed .site-container { max-width: 480px; } }
@media (max-width: 480px) { .boxed .site-container { max-width: 90.625%; } }

.wrap { margin-right: auto; margin-left: auto; max-width: 1140px; }
@media (max-width: 1280px) { .wrap { max-width: 940px; } }
@media (max-width: 970px) { .wrap { max-width: 720px; } }
@media (max-width: 780px) { .wrap { max-width: 450px; } }
@media (max-width: 480px) { .wrap { max-width: 90.625%; } }
.boxed .wrap { max-width: 100%; padding: 0 15px; }

/** Site Header */
.site-header .title-area { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
.site-header .title-area.full-width-title { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 780px) { .site-header .title-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-header .widget-area { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 780px) { .site-header .widget-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }

/** Site Navigation */
/** Site Inner */
.content-sidebar-sidebar .site-inner .content-sidebar-wrap { width: 82.89474%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 780px) { .content-sidebar-sidebar .site-inner .content-sidebar-wrap { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content-sidebar .site-inner .content-sidebar-wrap, .sidebar-sidebar-content .site-inner .content-sidebar-wrap { width: 82.89474%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 780px) { .sidebar-content-sidebar .site-inner .content-sidebar-wrap, .sidebar-sidebar-content .site-inner .content-sidebar-wrap { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-inner .content-sidebar-wrap .content { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 780px) { .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content-sidebar .site-inner .content-sidebar-wrap .content, .content-sidebar-sidebar .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 780px) { .sidebar-content-sidebar .site-inner .content-sidebar-wrap .content, .content-sidebar-sidebar .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content-sidebar .site-inner .content-sidebar-wrap .content, .content-sidebar-sidebar .site-inner .content-sidebar-wrap .content { clear: left; margin-left: 0; }
.sidebar-content .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 780px) { .sidebar-content .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.full-width-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 780px) { .full-width-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-inner .content-sidebar-wrap .sidebar-primary { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 780px) { .site-inner .content-sidebar-wrap .sidebar-primary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 780px) { .sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; } }
.site-inner .sidebar-secondary { width: 14.47368%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 780px) { .site-inner .sidebar-secondary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-sidebar-content .site-inner .sidebar-secondary, .sidebar-content-sidebar .site-inner .sidebar-secondary { width: 14.47368%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 780px) { .sidebar-sidebar-content .site-inner .sidebar-secondary, .sidebar-content-sidebar .site-inner .sidebar-secondary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }

/** Footer Widgets */
.footer-widgets .widget-area { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 780px) { .footer-widgets .widget-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.footer-widgets .widget-area.footer-widgets-1 { clear: left; margin-left: 0; }

/** Site Footer */
.site-footer .copyright, .site-footer .widget-area { width: 48.68421%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 780px) { .site-footer .copyright, .site-footer .widget-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-footer .copyright { clear: left; margin-left: 0; }
.site-footer.full-width .copyright { width: 100%; margin-left: 0; box-sizing: border-box; float: left; }

/** Mobile Header */
.mobile-header .mobile-title-area { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
.mobile-header .widget-area { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

/** Column Classes
----------------------------------------------------------------------------- */
.one-half, .three-sixths, .two-fourths { width: 48.68421%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.one-third, .two-sixths { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.four-sixths, .two-thirds { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.one-fourth { width: 23.02632%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.three-fourths { width: 74.34211%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.one-sixth { width: 14.47368%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.five-sixths { width: 82.89474%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.first { clear: left; margin-left: 0; }

@media (max-width: 780px) { .one-half, .three-sixths, .two-fourths, .one-third, .two-sixths, .four-sixths, .two-thirds, .one-fourth, .three-fourths, .one-sixth, .five-sixths { width: 100%; margin-left: 0; box-sizing: border-box; float: left; margin-bottom: 30px; } }
/** Posts
----------------------------------------------------------------------------- */
.entry { background: #fff; margin-bottom: 30px; padding: 30px; }
.single .entry, .page .entry { margin-bottom: 30px; border-bottom: 0; }
.archive .entry, .search .entry, .blog .entry, .home .entry { margin-bottom: 30px; }
.entry .imgwrap { display: block; margin-bottom: 30px; overflow: hidden; }
.entry .entry-header { margin-bottom: 30px; }
.entry .entry-header .entry-title { margin-bottom: 0; }
.entry .entry-header .entry-title a { color: #434A54; }
.entry .entry-header .entry-title a:hover { color: #e9573f; }
.entry .entry-header .entry-meta { color: #656D78; margin-bottom: 0; font-size: 14px; font-size: 1.4rem; }
.entry .entry-header .entry-meta > * { margin-right: 10px; }
.entry .entry-header .entry-meta > *:last-child { margin-right: 0; }
.entry .entry-header .entry-meta .entry-time { margin-left: 0; }
.entry .entry-header .entry-meta a { color: #656D78; }
.entry .entry-header .entry-meta a:hover { color: #e9573f; }
.entry .entry-content .more-link { display: inline-block; }
.entry .entry-footer { color: #656D78; font-size: 14px; font-size: 1.4rem; }
.entry .entry-footer .entry-meta { margin-bottom: 0; }
.entry .entry-footer .entry-meta span { display: block; }
.entry .entry-footer .entry-meta a { color: #e9573f; }
.entry .entry-footer .entry-meta a:hover { color: #434A54; }

/** Comments **/
.entry-comments { margin-bottom: 30px; }
.entry-comments h3 { margin-bottom: 30px; }
.entry-comments .comment-list { list-style: none; margin: 0; padding: 0; }
.entry-comments .comment-list article { margin-bottom: 30px; }
.entry-comments .comment-list .comment-header { margin-bottom: 30px; }
.entry-comments .comment-list .comment-header p { margin-bottom: 0; }
.entry-comments .comment-list .comment-header p.comment-author { font-family: "Ubuntu", sans-serif; }
.entry-comments .comment-list .comment-header p.comment-author img { border-radius: 50%; float: left; margin-right: 30px; }
.entry-comments .comment-list .comment-header p.comment-author span { text-transform: uppercase; }
.entry-comments .comment-list .comment-header p.comment-author span.says { font-family: "Source Sans Pro", sans-serif; text-transform: none; }
.entry-comments .comment-list .comment-header p.comment-author a { color: #e9573f; }
.entry-comments .comment-list .comment-header p.comment-author a:hover { color: #434A54; }
.entry-comments .comment-list .comment-header p.comment-meta { font-size: 14px; font-size: 1.4rem; }
.entry-comments .comment-list .comment-header p.comment-meta a { color: #e9573f; }
.entry-comments .comment-list .comment-header p.comment-meta a:hover { color: #434A54; }
.entry-comments .comment-list .children { list-style: none; margin-left: 30px; }

/** Comment Forms **/
.comment-respond form p { margin-bottom: 15px; }
.comment-respond form input[type="text"], .comment-respond form input[type="email"], .comment-respond form input[type="url"], .comment-respond form textarea { border-color: #d3dce9; }
.comment-respond form input[type="text"]:not(textarea), .comment-respond form input[type="email"]:not(textarea), .comment-respond form input[type="url"]:not(textarea), .comment-respond form textarea:not(textarea) { width: 50%; }
@media (max-width: 780px) { .comment-respond form input[type="text"]:not(textarea), .comment-respond form input[type="email"]:not(textarea), .comment-respond form input[type="url"]:not(textarea), .comment-respond form textarea:not(textarea) { width: 100%; } }

/** Pingbacks **/
.entry-pings .ping-list { list-style: none; margin: 0; padding: 0; }
.entry-pings .ping-list .pingback { margin-bottom: 30px; }
.entry-pings .ping-list .pingback .comment-meta { margin-bottom: 30px; }
.entry-pings .ping-list .pingback .reply .comment-reply-link:before { padding-right: 15px; }
.entry-pings .ping-list .children { list-style: none; margin-left: 30px; }
.entry-pings .comment-metadata { font-size: 14px; font-size: 1.4rem; }
.entry-pings .comment-metadata a { color: #656D78; }
.entry-pings .comment-metadata a:hover { color: #e9573f; }

/** Search Form
----------------------------------------------------------------------------- */
.search-form { margin-bottom: 0; }

/** Widgets
----------------------------------------------------------------------------- */
/** Recent Posts  */
.widget_recent_entries li { margin-bottom: 12px; }
.widget_recent_entries li a { color: #434A54; font-family: "Ubuntu", sans-serif; }
.widget_recent_entries li a:hover { color: #e9573f; }
.widget_recent_entries li span { color: #656D78; display: block; font-family: "Source Sans Pro", sans-serif; font-size: 14px; font-size: 1.4rem; }

/** Recent Comments **/
.widget_recent_comments ul li a { color: #434A54; }
.widget_recent_comments ul li a:hover { color: #e9573f; }

/** Category Widget **/
.widget_categories ul, .widget_archive ul { list-style: none; margin: 0; padding: 0; }
.widget_categories ul li a, .widget_archive ul li a { color: #434A54; }
.widget_categories ul li a:hover, .widget_archive ul li a:hover { color: #e9573f; }

/** Calendar Widget */
.widget_calendar #wp-calendar caption { background: #434A54; color: #fff; font-family: "Ubuntu", sans-serif; padding: 15px; }
.widget_calendar #wp-calendar thead tr { background: #F5F7FA; }
.widget_calendar #wp-calendar thead tr th { color: #434A54; border: 1px solid #F5F7FA; }
.widget_calendar #wp-calendar tbody { text-align: center; }
.widget_calendar #wp-calendar tbody tr:nth-child(odd) { background: #fff; }
.widget_calendar #wp-calendar tbody tr:nth-child(even) { background: #F5F7FA; }
.widget_calendar #wp-calendar tbody tr td { text-align: center; border: 1px solid #F5F7FA; }
.widget_calendar #wp-calendar tfoot tr { background: transparent; }
.widget_calendar #wp-calendar tfoot tr a { color: #434A54; }

/** Tag Cloud Widget */
.widget_tag_cloud .tagcloud { font-size: 0; }
.widget_tag_cloud .tagcloud a { background: #F5F7FA; color: #434A54; display: inline-block; font-size: 14px !important; line-height: 1; margin-right: 5px; margin-bottom: 5px; padding: 5px 10px; }
.footer-widgets .widget_tag_cloud .tagcloud a { background: #656D78; }
.widget_tag_cloud .tagcloud a:hover { background: #e9573f; color: #fff; }

/** Genesis User Profile Widget */
/** Genesis Featured Post **/
.featuredpost .entry { padding: 0; margin: 0; border-bottom: 0; }
.featuredpost .entry .entry-header { margin-bottom: 5px; }
.featuredpost .entry .entry-header .entry-title { font-size: 16px; font-size: 1.6rem; }

/** Developer Bundle Widgets */
.widget_mb_tabbed ul.etabs { list-style: none; margin: 0; padding: 0; width: 100%; border-bottom: 1px solid #434A54; font-size: 0; margin-bottom: 30px; }
.widget_mb_tabbed ul.etabs li { display: inline-block; }
.widget_mb_tabbed ul.etabs li a { font-size: 18px; font-size: 1.8rem; margin-left: 15px; display: block; padding: 15px; line-height: 1; text-transform: uppercase; background: #434A54; color: #fff; border: 1px solid #434A54; border-bottom: none; margin-bottom: -1px; }
.widget_mb_tabbed ul.etabs li.active a { background: #fff; color: #434A54; }
.widget_mb_tabbed ul.etabs li:first-child a { margin-left: 0; }
.widget_mb_tabbed .tabs ul { margin: 0; padding: 0; list-style: none; }

.widget_mb_masonry .masonry-widget { margin: 0 -15px; }
.widget_mb_masonry .item { box-sizing: border-box; width: 25%; margin: 0; }
@media (max-width: 970px) { .widget_mb_masonry .item { width: 50%; } }
@media (max-width: 780px) { .widget_mb_masonry .item { width: 100%; } }
.widget_mb_masonry .item.size22, .widget_mb_masonry .item.size21 { width: 50%; }
@media (max-width: 780px) { .widget_mb_masonry .item.size22, .widget_mb_masonry .item.size21 { width: 100%; } }
.widget_mb_masonry .item .post-content { margin: 15px; position: relative; text-align: left; }
.widget_mb_masonry .item .post-content img { width: 100%; }
.widget_mb_masonry .item .post-content .post-details { background: rgba(67, 74, 84, 0.5); padding: 20px; position: absolute; left: 0; bottom: 0; width: 100%; }
.widget_mb_masonry .item .post-content .post-details .byline { margin-bottom: 0; }
.widget_mb_masonry .item .post-content .post-details .byline a { color: #fff; }
.widget_mb_masonry .item .post-content .post-details h2 { font-size: 18px; font-size: 1.8rem; text-transform: uppercase; margin-bottom: 0; }
.widget_mb_masonry .item .post-content .post-details h2 a { color: #fff; }
.widget_mb_masonry .item .post-content .post-details h2 a:hover { color: #e9573f; }

.widget_mb_testimonial { /* clearfix */ /* display none until init */ /* mouse grab icon */ /* fix */ }
.widget_mb_testimonial .owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.widget_mb_testimonial .owl-carousel { display: none; position: relative; width: 100%; -ms-touch-action: pan-y; }
.widget_mb_testimonial .owl-carousel .owl-wrapper { display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); }
.widget_mb_testimonial .owl-carousel .owl-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.widget_mb_testimonial .owl-carousel .owl-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.widget_mb_testimonial .owl-carousel .owl-item { float: left; }
.widget_mb_testimonial .owl-controls .owl-page, .widget_mb_testimonial .owl-controls .owl-buttons div { cursor: pointer; }
.widget_mb_testimonial .owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }
.widget_mb_testimonial .owl-carousel .owl-wrapper, .widget_mb_testimonial .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }
.widget_mb_testimonial .owl-buttons { font-size: 36px; font-size: 3.6rem; line-height: 1; }
.widget_mb_testimonial .owl-buttons div { width: 36px; height: 36px; position: absolute; left: auto; top: 50%; margin-top: -18px; text-align: center; }
.widget_mb_testimonial .owl-buttons div.owl-prev { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); left: 0px; }
.widget_mb_testimonial .owl-buttons div.owl-next { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); right: 0px; }
.widget_mb_testimonial .owl-pagination { width: 100%; text-align: center; }
.widget_mb_testimonial .owl-pagination .owl-page { display: inline-block; }
.widget_mb_testimonial .owl-pagination .owl-page > span { display: block; width: 10px; height: 10px; border-radius: 50%; margin-right: 10px; background: #434A54; }
.widget_mb_testimonial .owl-pagination .owl-page.active > span { background: #CCD1D9; }
.widget_mb_testimonial .testimonial-container { text-align: center; }
.widget_mb_testimonial .testimonial-container .testimonial-details img { margin: 0 auto 15px; border-radius: 50%; }

.widget_mb_button .btn { text-align: center; }

/** Plugins
----------------------------------------------------------------------------- */
/** Facebook Like Box */
#fb-root { display: none; }

.fb_iframe_widget { width: 100% !important; }
.fb_iframe_widget span { width: 100% !important; }
.fb_iframe_widget span iframe[style] { width: 100% !important; }

/** Gravity Forms **/
.gform_wrapper { max-width: 100% !important; }
.gform_wrapper .top_label input.medium { padding: 6px 10px !important; }
@media (max-width: 780px) { .gform_wrapper .top_label input.medium { width: 100% !important; } }
.gform_wrapper li { margin-bottom: 15px; }
form .gform_wrapper li { margin-bottom: 15px; }
.gform_wrapper textarea { max-width: 100%; padding: 6px 10px !important; }

/** Ninja Forms **/
.ninja-forms-form-wrap .ninja-forms-req-symbol { color: #DA4453 !important; }
.ninja-forms-form-wrap label { font-weight: inherit; }
.ninja-forms-form-wrap label .ninja-forms-req-symbol strong { color: #DA4453 !important; }
.ninja-forms-form-wrap input { height: 38px !important; }
.ninja-forms-form-wrap input[type="submit"] { height: auto !important; }

/** Content Boxes
----------------------------------------------------------------------------- */
.content-box-blue { background: #5D9CEC; border: 1px solid #4A89DC; margin-bottom: 30px; padding: 30px; }

.content-box-gray { background: #CCD1D9; border: 1px solid #AAB2BD; margin-bottom: 30px; padding: 30px; }

.content-box-green { background: #A0D468; border: 1px solid #8CC152; margin-bottom: 30px; padding: 30px; }

.content-box-purple { background: #EC87C0; border: 1px solid #D770AD; margin-bottom: 30px; padding: 30px; }

.content-box-red { background: #ED5565; border: 1px solid #DA4453; margin-bottom: 30px; padding: 30px; }

.content-box-yellow { background: #FFCE54; border: 1px solid #F6BB42; margin-bottom: 30px; padding: 30px; }

/** Button Shortcode
----------------------------------------------------------------------------- */
.btn { text-align: center; }
.btn.flat { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; background: #434A54; }
.btn.flat:hover { background: #5a6370; }
.btn.flat:active { background: #707c8d; }
.btn.rounded { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; background: #434A54; }
.btn.rounded:hover { background: #5a6370; }
.btn.rounded:active { background: #707c8d; }
.btn.border { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; background: transparent; border: 1px solid #434A54; color: #434A54; }
.btn.border:hover { background: #434A54; color: #fff; }
.btn.border:active { background: #5a6370; }
.btn.pressed { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; }

/** Phone Shortcode
----------------------------------------------------------------------------- */
.phone:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); padding-right: 10px; }

/** Text Shortcode
----------------------------------------------------------------------------- */
.text:before { color: #e9573f; padding-right: 15px; }
.text.address:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.text.email:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.text.phone:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }

/** Buttons
----------------------------------------------------------------------------- */
.btn { font-family: "Ubuntu", sans-serif; font-weight: 700; text-transform: uppercase; }
.btn.fullwidth { width: 100%; }
.btn.flat { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #e9573f; }
.btn.flat:hover { background: #ee7f6d; }
.btn.flat:active { background: #f3a79b; }
.btn.rounded { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #e9573f; border-radius: 5px; }
.btn.rounded:hover { background: #ee7f6d; }
.btn.rounded:active { background: #f3a79b; }
.btn.border { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: transparent; border: 1px solid #e9573f; color: #e9573f; }
.btn.border:hover { background: #e9573f; color: #fff; }
.btn.border:active { background: #ee7f6d; }
.btn.border:hover { color: #fff; }
.btn.small { padding: 15px 20px; }
.btn.medium { padding: 20px 25px; }
.btn.large { padding: 25px 30px; }
.btn.x-large { padding: 30px 35px; }
.btn.blue-jeans { background: #4A89DC; }
.btn.blue-jeans:hover { background: #276ecc; }
.btn.blue-jeans.border { background: transparent; border-color: #4A89DC; color: #4A89DC; }
.btn.blue-jeans.border:hover { background: #4A89DC; color: #fff; }
.btn.aqua { background: #3BAFDA; }
.btn.aqua:hover { background: #2494be; }
.btn.aqua.border { background: transparent; border-color: #3BAFDA; color: #3BAFDA; }
.btn.aqua.border:hover { background: #3BAFDA; color: #fff; }
.btn.mint { background: #37BC9B; }
.btn.mint:hover { background: #2b957a; }
.btn.mint.border { background: transparent; border-color: #37BC9B; color: #37BC9B; }
.btn.mint.border:hover { background: #37BC9B; color: #fff; }
.btn.grass { background: #8CC152; }
.btn.grass:hover { background: #72a53b; }
.btn.grass.border { background: transparent; border-color: #8CC152; color: #8CC152; }
.btn.grass.border:hover { background: #8CC152; color: #fff; }
.btn.sunflower { background: #F6BB42; }
.btn.sunflower:hover { background: #f4a911; }
.btn.sunflower.border { background: transparent; border-color: #F6BB42; color: #F6BB42; }
.btn.sunflower.border:hover { background: #F6BB42; color: #fff; }
.btn.bittersweet { background: #E9573F; }
.btn.bittersweet:hover { background: #dc3519; }
.btn.bittersweet.border { background: transparent; border-color: #E9573F; color: #E9573F; }
.btn.bittersweet.border:hover { background: #E9573F; color: #fff; }
.btn.grapefruit { background: #DA4453; }
.btn.grapefruit:hover { background: #c42737; }
.btn.grapefruit.border { background: transparent; border-color: #DA4453; color: #DA4453; }
.btn.grapefruit.border:hover { background: #DA4453; color: #fff; }
.btn.lavender { background: #967ADC; }
.btn.lavender:hover { background: #7652d1; }
.btn.lavender.border { background: transparent; border-color: #967ADC; color: #967ADC; }
.btn.lavender.border:hover { background: #967ADC; color: #fff; }
.btn.pink-rose { background: #D770AD; }
.btn.pink-rose:hover { background: #cc4896; }
.btn.pink-rose.border { background: transparent; border-color: #D770AD; color: #967ADC; }
.btn.pink-rose.border:hover { background: #D770AD; color: #fff; }
.btn.light-gray { background: #E6E9ED; }
.btn.light-gray:hover { background: #c8cfd8; }
.btn.light-gray.border { background: transparent; border-color: #E6E9ED; color: #E6E9ED; }
.btn.light-gray.border:hover { background: #E6E9ED; color: #fff; }
.btn.medium-gray { background: #AAB2BD; }
.btn.medium-gray:hover { background: #8d98a7; }
.btn.medium-gray.border { background: transparent; border-color: #AAB2BD; color: #AAB2BD; }
.btn.medium-gray.border:hover { background: #AAB2BD; color: #fff; }
.btn.dark-gray { background: #434A54; }
.btn.dark-gray:hover { background: #2c3138; }
.btn.dark-gray.border { background: transparent; border-color: #434A54; color: #434A54; }
.btn.dark-gray.border:hover { background: #434A54; color: #fff; }
.btn.light { background: #fff; color: #e9573f; }
.btn.light:hover { background: #e6e6e6; }
.btn.light.border { background: transparent; border-color: #fff; color: #fff; }
.btn.light.border:hover { background: #fff; color: #e9573f; }

/** Navigation Menu
----------------------------------------------------------------------------- */
.genesis-nav-menu { font-family: "Ubuntu", sans-serif; text-transform: uppercase; font-size: 0; margin: 0; padding: 0; width: 100%; text-align: left; }
.nav-header .genesis-nav-menu { text-align: right; }
.genesis-nav-menu .menu-item { display: inline-block; font-size: 16px; font-size: 1.6rem; margin: 0; padding: 0; }
.genesis-nav-menu .menu-item:hover { position: relative; }
.genesis-nav-menu .menu-item:hover > .sub-menu { left: auto; opacity: 1; }
.genesis-nav-menu .menu-item:hover > .sub-menu .sub-menu { left: auto; }
.genesis-nav-menu .menu-item a { color: #fff; display: block; line-height: 1; padding: 45px 15px; position: relative; }
.nav-header .genesis-nav-menu .menu-item a { color: #434A54; text-align: left; }
.genesis-nav-menu .menu-item a:hover { background: #e9573f; color: #fff; }
.genesis-nav-menu .menu-item.current-menu-item a, .genesis-nav-menu .menu-item.current_page_item a, .genesis-nav-menu .menu-item.current-item-has-children a { background: #e9573f; color: #fff; }
.genesis-nav-menu .menu-item .sub-menu { -webkit-transition: opacity 300ms ease-in-out; transition: opacity 300ms ease-in-out; background: #434A54; margin: 0; opacity: 0; padding: 0; position: absolute; left: -9999px; width: 200px; z-index: 99; }
.genesis-nav-menu .menu-item .sub-menu a { background: #434A54; color: #fff; padding: 15px 20px; position: relative; width: 200px; }
.genesis-nav-menu .menu-item .sub-menu a:hover { background: #e9573f; }
.genesis-nav-menu .menu-item .sub-menu > .current_page_item > a, .genesis-nav-menu .menu-item .sub-menu > .current-menu-item > a, .genesis-nav-menu .menu-item .sub-menu .menu-item-has-children:hover > a { background: #e9573f; }
.genesis-nav-menu .menu-item .sub-menu .sub-menu { margin: -46px 0 0 199px; }
.genesis-nav-menu > .menu-item-has-children:hover, .genesis-nav-menu > .menu-item-has-children:hover > a { background: #e9573f; color: #fff; }
.site-header .genesis-nav-menu { float: right; text-align: right; width: 100%; }

/** Footer Navigation **/
.site-footer .widget-area .widget_nav_menu ul { list-style: none; margin: 0; padding: 0; text-align: right; width: 100%; }
@media (max-width: 780px) { .site-footer .widget-area .widget_nav_menu ul { text-align: center; } }
.site-footer .widget-area .widget_nav_menu ul li { display: inline-block; margin: 0; padding: 0; }
.site-footer .widget-area .widget_nav_menu ul li a { color: inherit; display: block; padding-left: 12px; }
.site-footer .widget-area .widget_nav_menu ul li a:hover { color: #e9573f; }
.site-footer .widget-area .widget_nav_menu ul li:first-child a { padding-left: 0; }

/** Mobile Navigation Menu **/
button.menu-toggle, button.sub-menu-toggle { background-color: transparent; color: #F5F7FA; display: none; font-size: 20px; font-size: 2rem; font-weight: 700; margin: 0 auto; overflow: hidden; padding: 10px 15px; text-align: center; visibility: visible; }
.site-header button.menu-toggle, .site-header button.sub-menu-toggle { color: #CCD1D9; }
button.menu-toggle { padding-top: 20px; padding-bottom: 20px; }
@media (max-width: 480px) { button.menu-toggle { padding-top: 15px; padding-bottom: 15px; } }
button.sub-menu-toggle { padding: 10px 16px; position: absolute; right: 0; top: 0; }
button.sub-menu-toggle:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
button.sub-menu-toggle.activated:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
button.menu-toggle { color: #F5F7FA; }
button.menu-toggle:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
button.menu-toggle.activated:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }

@media (min-width: 780px) { .genesis-nav-menu { display: block !important; } }
@media (max-width: 780px) { .genesis-nav-menu { display: none; /* position: absolute;
right: 0;
top: 60px;
width: 250px; */ }
  button.menu-toggle, button.sub-menu-toggle { display: block; visibility: visible; }
  .genesis-nav-menu ul { margin-left: 0; }
  .genesis-nav-menu ul ul { margin-left: 0; }
  .genesis-nav-menu .menu-item { display: block; margin-left: 0; position: relative; text-align: left; }
  .genesis-nav-menu .menu-item:hover { position: relative; }
  .genesis-nav-menu .menu-item > .menu-item-has-children:hover > a:hover { border: none; }
  .genesis-nav-menu .menu-item a { padding: 10px; }
  .genesis-nav-menu .menu-item .sub-menu { clear: both; display: none; opacity: 1; position: static; width: 100%; }
  .genesis-nav-menu .menu-item .sub-menu a { border-left: 0; position: relative; width: auto; }
  .genesis-nav-menu .menu-item .sub-menu .menu-item-has-children:hover > a:after { border: none; }
  .genesis-nav-menu .menu-item .sub-menu .sub-menu { margin: 0; } }
/** Pagination
----------------------------------------------------------------------------- */
.pagination, .navigation { *zoom: 1; text-align: center; }
.pagination:before, .pagination:after, .navigation:before, .navigation:after { content: ""; display: table; }
.pagination:after, .navigation:after { clear: both; }
.pagination ul, .navigation ul { font-size: 0; float: left; line-height: 1; margin: 0; padding: 0; }
.pagination ul li, .navigation ul li { font-size: 14px; font-size: 1.4rem; display: inline-block; margin-right: 15px; }
.pagination ul li:first-child, .navigation ul li:first-child { margin-left: 0; }
.pagination ul li a, .navigation ul li a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; }
.pagination ul li a:hover, .navigation ul li a:hover { background: #5a6370; }
.pagination ul li a:active, .navigation ul li a:active { background: #707c8d; }
.pagination ul li a:hover, .pagination ul li a:active, .navigation ul li a:hover, .navigation ul li a:active { background: #e9573f; }
.pagination ul li.active a, .navigation ul li.active a { background: #e9573f; }
.pagination div.alignleft, .pagination div.alignright, .navigation div.alignleft, .navigation div.alignright { margin-bottom: 0; }
.pagination div a, .navigation div a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; }
.pagination div a:hover, .navigation div a:hover { background: #5a6370; }
.pagination div a:active, .navigation div a:active { background: #707c8d; }

/** Entry Pagination */
.entry-pagination > *, .entry-pagination a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; display: inline; margin-top: 0; margin-right: 15px; margin-bottom: 0; margin-left: 15px; }
.entry-pagination > *:hover, .entry-pagination a:hover { background: #5a6370; }
.entry-pagination > *:active, .entry-pagination a:active { background: #707c8d; }

/** Single Post Navigation */
.prev_next { *zoom: 1; }
.prev_next:before, .prev_next:after { content: ""; display: table; }
.prev_next:after { clear: both; }
.prev_next a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; }
.prev_next a:hover { background: #5a6370; }
.prev_next a:active { background: #707c8d; }

/** Archive Pagination */
.archive-pagination div a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; }
.archive-pagination div a:hover { background: #5a6370; }
.archive-pagination div a:active { background: #707c8d; }
.archive-pagination div a:hover { background-color: #e9573f; }

/** Go To Top
----------------------------------------------------------------------------- */
.gototop, .gotobottom { background-color: rgba(67, 74, 84, 0.75); color: #fff; cursor: pointer; display: none; width: 48px; height: 48px; line-height: 48px; font-size: inherit; position: fixed; text-align: center; vertical-align: middle; bottom: 15px; right: 15px; }
.gototop.top, .gotobottom.top { display: block; }
.gototop:hover, .gotobottom:hover { background-color: #e9573f; }

.gotobottom { bottom: 15px; }

/** Site Specific Styles
----------------------------------------------------------------------------- */
/** Site Container **/
.site-container { margin: 0 auto; }

/** Site Header **/
.site-header { background-color: #fff; }
@media (max-width: 780px) { .site-header { padding: 15px 0; } }
.site-header .title-area { margin-top: 30px; }
@media (max-width: 780px) { .site-header .title-area { margin-bottom: 30px; margin-top: 0; } }
@media (max-width: 780px) { .site-header .title-area.full-width-title { margin-bottom: 0; } }
.site-header .title-area .site-title { margin-bottom: 0; }
@media (max-width: 780px) { .site-header .title-area .site-title { text-align: center; }
  .site-header .title-area .site-title a { display: inline-block; } }
.site-header .title-area .site-description { font-size: 16px; font-size: 1.6rem; color: #434A54; font-family: "Source Sans Pro", sans-serif; font-weight: normal; line-height: 1.2; margin-bottom: 0; }
@media (max-width: 780px) { .site-header .title-area .site-description { text-align: center; } }
.site-header .widget-area .nav-header { position: relative; text-align: center; }
.site-header .widget-area .menu-toggle { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #434A54; display: none; }
.site-header .widget-area .menu-toggle:hover { background: #5a6370; }
.site-header .widget-area .menu-toggle:active { background: #707c8d; }
@media (max-width: 780px) { .site-header .widget-area .menu-toggle { display: block; } }

/** Navigation **/
.nav-primary { background: #434A54; }

.nav-secondary { background: #434A54; }

/** Site Inner **/
.site-inner { padding: 60px 0; }
.home .site-inner { padding: 0; }

/** Content **/
@media (max-width: 780px) { .content { margin-bottom: 30px; } }

/** Sidebar **/
.sidebar .widget { background: #fff; border-top: 5px solid #e9573f; margin-bottom: 30px; padding: 30px; }
.sidebar .widget .widgettitle { margin-bottom: 30px; }
.sidebar .widget ul, .sidebar .widget ol { list-style: none; margin: 0; padding: 0; }

/** Footer Widgets **/
.footer-widgets { background: #434A54; color: #fff; padding: 60px 0; }
.footer-widgets .widgettitle, .footer-widgets .widget-title { text-transform: uppercase; }
.footer-widgets a:hover { color: #fff; }
@media (max-width: 780px) { .footer-widgets .widget-area { margin-bottom: 30px; } }
.footer-widgets .widget { margin-bottom: 30px; }
.footer-widgets .widget:last-child { margin-bottom: 0; }
.footer-widgets .widget .widgettitle { color: #fff; margin-bottom: 30px; }
.footer-widgets .widget:last-child { margin-bottom: 0; }
.footer-widgets .widget ul { list-style: none; margin: 0; padding: 0; }
.footer-widgets .widget ul li { padding: 5px 0; }
.footer-widgets .widget ul li a { color: inherit; }
.footer-widgets .widget ul li a:hover { color: #e9573f; }
.footer-widgets .widget_nav_menu ul li { width: 48.68421%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
.footer-widgets .widget_nav_menu ul li:nth-child(2n+1) { clear: left; margin-left: 0; }

/** Site Footer **/
.site-footer { background: #fff; color: #434A54; font-size: 14px; font-size: 1.4rem; padding: 30px 0; }
.site-footer.full-width { text-align: center; }
.site-footer p { margin-bottom: 0; }
.site-footer a { color: #e9573f; }
.site-footer a:hover { color: #fff; }
@media (max-width: 780px) { .site-footer { text-align: center; } }

/** Theme Specific Settings
----------------------------------------------------------------------------- */
.before-header { font-size: 14px; font-size: 1.4rem; background: #434A54; color: #fff; padding: 15px 0; text-transform: uppercase; }
.before-header p { margin-bottom: 0; }
.before-header .phone { font-weight: 700; margin-left: 30px; }
.before-header .phone:before { content: ''; padding-right: 0; }
.before-header a:hover { color: #fff; }
@media (max-width: 780px) { .before-header .panel-grid-cell { text-align: center; margin-bottom: 0 !important; } }
.before-header .panel-grid-cell:last-child { text-align: right; }
@media (max-width: 780px) { .before-header .panel-grid-cell:last-child { text-align: center; } }

.home .entry { margin-bottom: 0; padding: 0; }

/** Home Featured
----------------------------------------------------------------------------- */
.home-featured { font-size: 18px; font-size: 1.8rem; color: #fff; padding: 90px 0 210px; }
.home-featured .widgettitle, .home-featured .widget-title { font-size: 48px; font-size: 4.8rem; font-weight: normal; color: #fff; text-transform: uppercase; }
.home-featured .widgettitle .text, .home-featured .widget-title .text { font-weight: 700; color: #e9573f; }
.home-featured .btn { font-size: 24px; font-size: 2.4rem; font-weight: 700; padding: 20px 40px; line-height: 1; border-width: 2px; }

/** Home Top
----------------------------------------------------------------------------- */
.home-top-1 { font-size: 14px; font-size: 1.4rem; color: #fff; text-align: center; }
.home-top-1.no-margin { padding: 60px 0; }
@media (max-width: 780px) { .home-top-1 { padding: 60px 0; } }
.home-top-1 .widget { background: #e9573f; padding: 30px; }
.home-top-1 .widget .heading { font-size: 24px; font-size: 2.4rem; color: #fff; font-family: "Ubuntu", sans-serif; line-height: 1.2; text-transform: uppercase; }
.home-top-1 .widget .heading strong { color: #fff; }
.home-top-1 .widget p:nth-last-of-type(1) { margin-bottom: 0; }

.home-top-2 { background: #fff; padding: 60px 0; text-align: center; }
.home-top-2 .widgettitle, .home-top-2 .widget-title { font-size: 36px; font-size: 3.6rem; color: #e9573f; text-transform: uppercase; }
.home-top-2 .widgettitle .text, .home-top-2 .widget-title .text { font-weight: normal; color: #434A54; display: block; }
.home-top-2 p:nth-last-of-type(1) { margin-bottom: 0; }
.home-top-2 .btn { padding: 15px 30px; }
.home-top-2 img { margin-bottom: 0; }

/** Home Middle 
----------------------------------------------------------------------------- */
.home-middle-1 { background: #F5F7FA; padding: 60px 0; text-align: center; }
.home-middle-1 .widgettitle, .home-middle-1 .widget-title { font-size: 36px; font-size: 3.6rem; color: #e9573f; text-transform: uppercase; }
.home-middle-1 .widgettitle .text, .home-middle-1 .widget-title .text { font-weight: normal; color: #434A54; }
.home-middle-1 .list { text-align: left; display: block; }
.home-middle-1 .list:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); color: #e9573f; }
.home-middle-1 p:nth-last-of-type(1) { margin-bottom: 0; }
.home-middle-1 p br { display: none; }

.home-middle-2 { background: #fff; padding: 60px 0; text-align: center; }
.home-middle-2 .widgettitle, .home-middle-2 .widget-title { font-size: 36px; font-size: 3.6rem; color: #e9573f; text-transform: uppercase; }
.home-middle-2 .widgettitle .text, .home-middle-2 .widget-title .text { font-weight: normal; color: #434A54; display: block; }
.home-middle-2 p:nth-last-of-type(1) { margin-bottom: 0; }
.home-middle-2 .btn { padding: 15px 30px; }
.home-middle-2 img { margin-bottom: 0; }

/** Home Bottom
----------------------------------------------------------------------------- */
.home-bottom-1 { background: #F5F7FA; padding: 60px 0; text-align: center; }
.home-bottom-1 .widgettitle, .home-bottom-1 .widget-title { font-size: 36px; font-size: 3.6rem; color: #e9573f; text-transform: uppercase; }
.home-bottom-1 .widgettitle .text, .home-bottom-1 .widget-title .text { font-weight: normal; color: #434A54; display: block; }
.home-bottom-1 .widget_mb_testimonial .testimonial-container { padding: 15px; }
.home-bottom-1 .widget_mb_testimonial .testimonial-title { text-transform: uppercase; color: #e9573f; }
.home-bottom-1 .widget_mb_testimonial p:nth-of-type(1) { position: relative; }
.home-bottom-1 .widget_mb_testimonial p:nth-of-type(1):before { font-size: 72px; font-size: 7.2rem; content: '\201C'; color: #e9573f; font-family: "Ubuntu", sans-serif; position: relative; line-height: 0; top: 30px; margin-right: 15px; }
.home-bottom-1 .widget_mb_testimonial p:nth-last-of-type(1) { margin-bottom: 0; }
.home-bottom-1 .widget_mb_testimonial img { border-radius: 50%; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }

.home-bottom-2 { background: #fff; padding: 30px 0; }
.home-bottom-2 .widget_mb_image .imgwrap { margin-bottom: 0; }
.home-bottom-2 .widget_mb_image img { margin-bottom: 0; }
