// $padding: 30px;
// $grid: 1170px;
// $columns: 12;

@mixin row() {
    max-width: $width;
    margin: {
        left: auto;
        right: auto;
    }
    padding: {
        left: $col_margin/2;
        right: $col_margin/2;
    }
}

@mixin column($col: 1, $cols: $columns, $padding: $col_margin ) {
    float: left;
    @if $col == $cols {
        padding-left: 0;
    } @else {
        padding-left: $padding;
    }
    width: (($col/$cols)*100) + 0%;
}

@mixin first() {
    padding-left: 0;
    clear: left;
}

@mixin last() {
    float: right;
}

@mixin revert() {
    clear: none;
}

@mixin push($col, $cols: $columns) {
    margin-left: (($col/$cols)*100) + 0%;
}

@mixin pull($col, $cols: $columns) {
    margin-right: (($col/$cols)*100) + 0%;
}
