$body_family: "Source Sans Pro", sans-serif;
$heading_family: "Ubuntu", sans-serif;

$body_color: #434A54;
$heading_color: #434A54;
$secondary_color: #656D78;
$light_color: #fff;

$link: #e9573f;
$link_hover: $body_color;

$select: darken($link, 10);
$select_color: $light_color;

$grey_light: #F5F7FA;
$grey_regular: #CCD1D9;
$grey_dark: #656D78;

$width: 1140px;   /* total with of page */
$columns: 12;    /* number of columns */
// $col_margin: 30px;  /* margin between columns */

// Grid options =
$gutter_width: 30px; // Your gutter width
$col_margin: $gutter_width;

$line_height: $gutter_width;
$half_gutter: ($gutter_width/2);

$largescreen-width: 1600px;
$desktop-width: 1280px;
$tablet-width: 970px;
$mobile-width: 780px;
$legacy-width: 480px;

// Base Font Size
$base-font-size: 16px;

// Font Awesome
$fa-font-path: "assets/fonts/fontawesome";

// Colors
$blue-jeans: #4A89DC;
$aqua: #3BAFDA;
$mint: #37BC9B;
$grass: #8CC152;
$sunflower: #F6BB42;
$bittersweet: #E9573F;
$grapefruit: #DA4453;
$lavender: #967ADC;
$pink-rose: #D770AD;
$light-gray: #E6E9ED;
$medium-gray: #AAB2BD;
$dark-gray: #434A54;
